/* Variables */


:root {

  --simple-white: #FFFFFF;
  --simple-black: #000000;

  --main-grey: #595755;
  --extra-grey: #27221C;
  --disable-grey: #E5E5E5;

  --main-green: #32521E;

  --main-accent: #A4341C;
  --extra-accent: #792C1C;

  --rgba-black: rgba(0, 0, 0, 0.8);
  --rgba-text: rgba(20, 20, 20, 0.5);
}


/* Global */


.page {
  scroll-behavior: smooth;
  height: 100%;
}


.page-body {
  width: 1440px;
	margin: 0 auto;
	padding: 0;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 18px;
  line-height: 25px;
	font-weight: normal;
	color: var(--main-grey);
	background-color: var(--simple-white);
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
  color: var(--main-grey);
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin-bottom: 42px;
}


/* button */

.button {
  display: block;
  width: 150px;
  border: none;
  background-color: var(--main-accent);
  color: var(--simple-white);
  text-align: center;
  text-transform: lowercase;
  padding: 8px 0;
  font-size: 22px;
  line-height: 26px;
}

.button:hover {
  background-color: var(--extra-accent);
}

.button:active {
  background-color: var(--extra-accent);
  opacity: .7;
}

.button-reset {
  background-color: var(--simple-white);
  color: var(--main-accent);
  outline: 1px solid var(--main-accent);
  outline-offset: -1px;
  padding: 8px 0;
  display: block;
  width: 150px;
  border: none;
}

.button-reset:hover,
.button-reset:focus {
  color: var(--extra-accent);
  background-color: var(--simple-white);
}


/* Main navigation */


.main-header {
  width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.header-logo {
  padding: 16px 0 16px 5px;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  height: 42px;
  justify-self: end;
  padding: 20px 5px 0 0;
}

.nav-list {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 8px 132px 0 0;
}

.nav-list-item {
  font-size: 24px;
  line-height: 29px;
  text-transform: lowercase;
}

.nav-list-item:hover {
  color: var(--main-accent);
}

.nav-list-item:focus {
  color: var(--extra-accent);
}


/* slider */


.slider {
  width: 1440px;
  margin-bottom: 94px;
  position: relative;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-item {
  display: none;
  width: 1440px;
  height: 682px;
}

.slider-item-current {
	display: block;
  transition-duration: 2s;
}

.slider-item:nth-child(1) {
	background: url(../img/content/slide-1.jpg) center no-repeat;
}

.slider-item:nth-child(2) {
	background: url(../img/content/slide-2.jpg) center no-repeat;
}

.slider-item:nth-child(3) {
	background: url(../img/content/slide-3.jpg) center no-repeat;
}

.slider-info {
  position: absolute;
  left: 170px;
  bottom: 176px;
  width: 534px;
  background-color: var(--simple-black);
  opacity: .8;
}

.slider-title {
  margin: 24px 0;
  color: var(--main-accent);
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
}

.slider-controls {
  margin: 12px auto;
  width: 365px;
  display: flex;
  justify-content: space-between;
}

.slider-arrow-previous,
.slider-arrow-next,
.slider-toggle {
  cursor: pointer;
  border: none;
}


.slider-arrow-previous {
  transform: rotate(180deg);
  background-color: var(--simple-white);
}

.slider-arrow-next {
  background-color: var(--simple-white);
}

.button-disabled {
  background-color: var(--disable-grey);
}

.slider-control-wrapper {
  width: 86px;
  display: flex;
  justify-content: space-between;
}

.slider-toggle {
  width: 15px;
  height: 15px;
  background-color: var(--main-green);
  margin: 10px 0;
  transform: rotate(45deg);
}

.slider-toggle-current {
  background-color: var(--extra-accent);
}


/* products */

.products {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.products-filter {
  width: 220px;
  border: none;
}


/* product-form */

.form-filter fieldset {
	border: none;
  margin: 0 0 18px 0;
  padding: 0 0 0 8px;
}

.form-filter-legend {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.form-filter-label {
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.products-filter-list {
  list-style: none;
  padding: 0;
  margin: 35.5px 0;
}

.range-filter {
  padding: 34px 0;
}

.price-controls [type='text'] {
  font-size: 14px;
  padding: 2px 0 2px 10px;
  color: var(--rgba-text);
}

.range-min-label {
  margin-right: 18px;
}

.input-minmax {
  margin-left: 6px;
  width: 48px;
  height: 24px;
  border: 1px solid var(--main-accent);
}

.filter-option {
  position: relative;
  margin: 6px 0 6px 14px;
  text-transform: lowercase;
}

.form-filter-label {
  padding-left: 17px;
}

.form-button-wrapper {
  margin-left: 6px;
}

.form-button {
  padding: 8px 0;
  margin-bottom: 26px;
  font-size: 22px;
  line-height: 26px;
}


/* checkbox and radio */


.filter-checkbox + label::before {
  content: "";
	position: absolute;
	top: 6px;
  left: -14px;
	width: 14px;
	height: 14px;
  border: 1px solid var(--main-accent);
}

.filter-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -13px;
  width: 13px;
  height: 13px;
  background-image: url('../img/icons-and-logo/boxchecked.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-radio + label::before {
  content: "";
	position: absolute;
	top: 6px;
  left: -14px;
	width: 14px;
	height: 14px;
  border: 1px solid var(--main-accent);
  transform: rotate(45deg);
}

.filter-radio:checked + label::after {
  content: "";
	position: absolute;
	top: 9px;
  left: -11px;
  width: 10px;
  height: 10px;
  background-color: var(--main-accent);
  transform: rotate(45deg);
}

.filter-checkbox:disabled + .form-filter-label::before {
  border-color: var(--disable-grey);
  cursor: not-allowed;
}

.filter-checkbox:disabled + .form-filter-label {
  color: var(--disable-grey);
  cursor: not-allowed;
}

.filter-radio:disabled + .form-filter-label::before {
  border-color: var(--disable-grey);
  cursor: not-allowed;
}


.filter-radio:disabled + .form-filter-label {
  color: var(--disable-grey);
  cursor: not-allowed;
}

.form-filter-label:hover {
  color: var(--main-accent);
}


/* product-catalog */


.products-catalog {
  width: 820px;
  margin-bottom: 88px;
}

.products-catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px 68px;
}

.products-catalog-item {
  width: 370px;
  outline: 2px solid var(--main-accent);
  outline-offset: -2px;
  position: relative;
	overflow: hidden;
}

.products-catalog-conteiner {
  width: 328px;
  margin: 0 auto;
}

.catalog-conteiner-title {
  margin: 17px 0 14px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.catalog-conteiner-desc {
  margin: 15px 0 28px;
}

.catalog-popup {
  position: absolute;
  background-color: var(--rgba-black);
	text-align: center;
	opacity: 0;
	transition: .5s;
	bottom: 0;
	left: 0;
	width: 100%;
  height: 100%;
  outline: 2px solid var(--main-accent);
  outline-offset: -2px;
}

.products-catalog-item:hover > .catalog-popup {
  opacity: 1;
}

.popup-button {
  margin: 196px auto;
}


/* advantages */

.advantages {
  width: 1110px;
  margin: 0 auto;
}

.advantages-title {
  padding-left: 5px;
  position: relative;
  font-weight: bold;
  font-size: 48px;
  margin: 56px 0 30px;
  color: var(--extra-grey);
}

.advantages-header {
  width: 450px;
  border-bottom: 3px solid var(--main-accent);
  margin: 0 0 85px 4px;
  
}

.advantages-list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  width: 370px;
  position: relative;
}

.advantages-item::after {
  content: "";
	position: absolute;
	top: 58px;
	right: 0;
	width: 3px;
	height: 180px;
	background-color: var(--main-accent);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-top: auto;
	margin-bottom: auto;
}

.advantages-item:last-child::after {
  display: none;
}

.advantages-flower {
  position: absolute;
  background: url('../img/icons-and-logo/flower.svg') no-repeat 0 0;
  width: 98px;
  height: 98px;
  top: 23px;
  left: 134px;
}

.advantages-shipping {
  position: absolute;
  background: url('../img/icons-and-logo/free-shipping.svg') no-repeat 0 0;
  width: 117px;
  height: 83px;
  top: 38px;
  left: 128px;
}

.advantages-discount {
  position: absolute;
  background: url('../img/icons-and-logo/discount.svg') no-repeat 0 0;
  width: 98px;
  height: 98px;
  top: 28px;
  left: 140px;
}

.advantages-item-wrapper {
  margin-top: 148px;
  width: 100%;
}

.advantages-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}

.advantages-item-desc {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}



/* connection */


.connection {
  position: relative;
  width: 1440px;
  height: 720px;
  background: url(../img/content/bg-connection.jpg) no-repeat 0 0;
  margin-top: 150px;
}

.connection-info {
  position: absolute;
  top: 48px;
  left: 162px;
  width: 470px;
  background-color: var(--rgba-black);
}

.connection-info-wrapper {
  width: 378px;
  margin: 0 auto;
}

.connection-info-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: var(--main-accent);
  margin: 25px 0 18px;
}

.connection-info-desc {
  font-size: 18px;
  line-height: 25px;
  color: var(--simple-white);
  margin-bottom: 27px;
}


/* connection form */


.connection-form {
  position: absolute;
  top: 91px;
  right: 198px;
  width: 400px;
  background-color: var(--main-green);
}

.form-request-wrapper {
  width: 300px;
  margin: 0 auto;
  padding: 40px 0 14px;
}

.request-item {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.form-request-label {
  color: var(--simple-white);
}

.form-request-input {
  padding: 0;
  margin-top: 12px;
  width: 282px;
  height: 22px;
  outline: 1px solid var(--main-accent);
  outline-offset: -1px;
}

.form-request-input:hover {
  outline: 1px solid var(--extra-accent);
}

.request-section {
  position: relative;
  margin-bottom: 15px;
}

.request-section::after {
  content: "";
  position: absolute;
  top: 45px;
  right: 13px;
  width: 20px;
  height: 20px;
  background-image: url('../img/icons-and-logo//triangle.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.request-button {
  width: 150px;
  margin: 0 auto;
  margin-top: 45px;
}

.form-request [type='text'] {
  padding: 2px 0 2px 15px;
  font-size: 14px;
  line-height: 25px;
  color: var(--rgba-text);
}


/* footer */


.main-footer {
  width: 1110px;
  margin: 0 auto;
  padding: 42px 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-footer::after {
  content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background-color: var(--main-accent);
	background-repeat: no-repeat;
}

.footer-nav-list {
  width: 549px;
  padding: 0;
  margin-top: 24px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-item {
  font-size: 24px;
  line-height: 29px;
  text-transform: lowercase;
}

.footer-nav-item a:hover {
  color: var(--main-accent);
}

.footer-nav-item a:focus {
  color: var(--extra-accent);
}

.footer-copyright {  
  margin: 38px 0px 0px 6px;
}

.social-wrapper {
  justify-self: right;
}

.social-list {
  width: 224px;
  padding: 0;
  margin: 29px 5px 0 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-item svg {
  fill: var(--main-accent);
}

.social-item svg:hover {
  fill: var(--extra-accent);
}

.social-item a:focus {
  fill: var(--extra-accent);
  opacity: .7;
}